{% extends "base.html.twig" %}

{% block main %}
<div id="topic-body">
{% for name, value in data %}
  <p>
    [{{ name|humanize|trans }}]<br />
    {% if name == 'device' %}
      {% for val in value %}
        {{ val|trans }}{% if not loop.last %} / {% endif %}
      {% endfor %}
    {% elseif name == 'target' %}
      {{ value.target|trans }}{% if value.plugin_name %}(プラグイン名：{{ value.plugin_name }}){% endif %}
    {% else %}
      {{ value|trans }}
    {% endif %}
  </p>
{% endfor %}
</div>

<p>上記枠内をコピーして<a href="{{ community_url }}" target="_blank">質問コミュニティ</a>の本文に貼り付けてください。<br />
トピックのタイトルは内容がわかりやすいようにつけてください。（「初心者です」「質問です」「助けて下さい」は×）<br />
画面表示のスクリーンショットがある場合は画像も一緒に投稿すると、状況を分かってもらいやすいです。
</p>
{% endblock %}